<html layout:decorate="~{layout}">
<div layout:fragment="content">
    <div class="container">
        <h1>문의 게시판</h1>

        <!-- 글쓰기 버튼 -->
        <div class="board-actions">
            <a th:href="@{/board/create}" class="btn">글쓰기</a>
        </div>

        <!-- 게시판 테이블 -->
        <table class="board-table">
            <thead>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일</th>
                    <th>조회수</th>
                </tr>
            </thead>
            <tbody>
                <!-- 타임리프 반복문 -->
                <tr th:each="board, loop : ${paging}">
                    <td th:text="${paging.getTotalElements - (paging.number*paging.size) - loop.index}"></td>
                    <td>
                        <a th:href="@{/board/detail/{bnum}(bnum=${board.bnum})}"
                           th:text="${board.btitle}">제목</a>
                           <span th:if="${#lists.size(board.answerList)>0}" th:text="${'['+#lists.size(board.answerList)+']'}"></span>
                    </td>
                    <!--<td th:text="${board.writer}">작성자</td> -->
                    <td th:text="${#temporals.format(board.bdate.atZone(T(java.time.ZoneId).of('UTC'))
                                                .withZoneSameInstant(T(java.time.ZoneId).of('Asia/Seoul')),
                                                'yyyy-MM-dd HH:mm')}">등록일</td>
                    <td th:text="${board.bhit}"></td>
                </tr>
                
            </tbody>
        </table>
        <!-- 페이징 처리 -->
        <ul>
		    <!-- 이전 버튼 -->
		    <li th:classappend="${!paging.hasPrevious} ? 'disabled'">
		        <a th:href="@{|?page=${paging.number-1}|}">
		            <span>이전</span>
		        </a>
		    </li>
		
		    <!-- 페이지 번호 출력 -->
		    <li th:each="page : ${#numbers.sequence(0, paging.totalPages-1)}"
		    	th:if="${page >= paging.number-5 and page <= paging.number+5}"
		        th:classappend="${page == paging.number} ? 'active'">
		        <a th:href="@{|?page=${page}|}" th:text="${page+1}"></a>
		    </li>
		
		    <!-- 다음 버튼 -->
		    <li th:classappend="${!paging.hasNext} ? 'disabled'">
		        <a th:href="@{|?page=${paging.number+1}|}">
		            <span>다음</span>
		        </a>
		    </li>
		</ul>
        </div>
        
    </div>
</div>
</html>
