<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Pick Up Service🎂</title>


<!-- Google Fonts: Baloo 2 -->
<link href="https://fonts.googleapis.com/css2?family=Baloo+2&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gaegu&display=swap" rel="stylesheet">

<link rel="stylesheet" th:href="@{/css/index.css}">
<link rel="stylesheet" th:href="@{/css/navbar.css}">
<link rel="stylesheet" th:href="@{/css/board.css}">
<link rel="stylesheet" th:href="@{/css/boardDetail.css}">
<link rel="stylesheet" th:href="@{/css/modify.css}">
<link rel="stylesheet" th:href="@{/css/reservation.css}">
<link rel="stylesheet" th:href="@{/css/rlist.css}">
</head>
<body>
 
    <!-- 네비게이션바 -->
    <nav th:replace="~{navbar :: navbarFragment}"></nav>
    
	<!-- 기본 템플릿 안에 삽입될 내용 -->
	<th:block layout:fragment="content"></th:block>
	
	<!-- 자바스크립트 -->
	<th:block layout:fragment="script"></th:block>

</body>
</html>