<html layout:decorate="~{layout}">
<div layout:fragment="content">
	<div class="reservation-container">
	    <h3>로그인</h3>

		<form th:action="@{/user/login}" method="post">
		    <div class="form-group-horizontal">
		        <label for="username">아이디  </label>
		        <input type="text" id="username" name="username" />
		    </div>
		    <div class="form-group-horizontal">
		        <label for="password">비밀번호</label>
		        <input type="password" id="password" name="password" />
		    </div>

		    <div class="button-group">
		        <button type="submit" class="submit-loginbtn">LOGIN</button>
		        <a th:href="@{/user/signup}" class="signup-btn">SIGN UP</a>
		    </div>
		</form>
	</div>
</div>
</html>