<nav th:fragment="navbarFragment" class="navbar">
   
	<!-- 왼쪽 환영 메시지 -->
	   <div sec:authorize="isAuthenticated()" class="welcome-message">
	       🍰Welcome, <b sec:authentication="name"></b>🍰
	   </div>
	
	 <!-- 가운데 타이틀 -->
    <div class="navbar-title">
        <a th:href="@{/}">Cake Pick Up!</a>
    </div>

    <!-- 오른쪽 메뉴 -->
    <div class="navbar-menu">
        <a th:href="@{/}">HOME</a>|
        <a th:href="@{/board/list}">Q/A BOARD</a>|

        <!-- 로그인한 사용자 -->
        <span sec:authorize="isAuthenticated()">
            <a th:href="@{/reservation/create}">RESERVATION</a>|
            <a th:href="@{/user/logout}">LOGOUT</a>
        </span>

        <!-- 비로그인 사용자 -->
        <span sec:authorize="isAnonymous()">
            <a th:href="@{/user/login}">LOGIN</a>|
            <a th:href="@{/user/signup}">SIGN UP</a>
        </span>

    </div>
</nav>