 <nav th:fragment="navbarFragment">
    <div>
        <a th:href="@{/}">Index</a>
        <a th:href="@{/board/list}">게시판</a>

        <!-- 비로그인 사용자 -->
        <a sec:authorize="isAnonymous()" th:href="@{/user/login}">로그인</a>
        <a sec:authorize="isAnonymous()" th:href="@{/user/signup}">회원가입</a>

        <!-- 로그인한 사용자 -->
        <span sec:authorize="isAuthenticated()">
       		| 환영합니다, <b sec:authentication="name"></b>님 |
            <a th:href="@{/reservation/create}" style="text-decoration: none;">
             예약하기
            </a>
            <a th:href="@{/user/mypage}" style="text-decoration: none;">
             회원정보 
            </a>
        </span>
        <a sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a>
    </div>
</nav>