<html layout:decorate="~{layout}">
<div layout:fragment="content">
	<div class="reservation-container">
	        <h3>픽업 예약</h3>

	       <form th:action="${reservationForm.id == null} ? @{/reservation/create} : @{/reservation/modify/{id}(id=${reservationForm.id})}"
      th:object="${reservationForm}" 
      method="post" 
      class="rservation-form">
    
			    <input type="hidden" th:field="*{id}" /> <!-- 기존 예약 id 담기 -->
			
			    <div class="form-group">
			        <label>예약자</label>
			        <span th:text="${username}" class="username-display"></span>
			    </div>
			
			    <div class="form-group">
				    <label for="rdate">예약 날짜</label>
				    <input type="date" th:field="*{rdate}" />
				</div>
				
				<div class="form-group">
				    <label for="rtime">예약 시간</label>
				    <input type="time" th:field="*{rtime}" />
				</div>
			
			    <button type="submit" class="submit-btn">예약 수정</button>
			</form>
	    </div>

	</div>

	<!-- 날짜/시간 JS -->
	<script>
	const dateInput = document.getElementById("rdate");
	const timeInput = document.getElementById("rtime");

	const now = new Date();
	const oneHourLater = new Date(now.getTime() + 60*60*1000);
	const oneMonthLater = new Date();
	oneMonthLater.setMonth(now.getMonth() + 1);

	const todayStr = now.toISOString().split("T")[0];
	const maxStr = oneMonthLater.toISOString().split("T")[0];

	dateInput.min = todayStr;
	dateInput.max = maxStr;

	dateInput.addEventListener("change", function () {
	    if (dateInput.value === todayStr) {
	        let hours = oneHourLater.getHours().toString().padStart(2, "0");
	        let minutes = oneHourLater.getMinutes().toString().padStart(2, "0");
	        timeInput.min = `${hours}:${minutes}`;
	    } else {
	        timeInput.min = "00:00";
	    }
	    timeInput.value = timeInput.min;
	});

	if (dateInput.value === "" || dateInput.value === todayStr) {
	    let hours = oneHourLater.getHours().toString().padStart(2, "0");
	    let minutes = oneHourLater.getMinutes().toString().padStart(2, "0");
	    timeInput.min = `${hours}:${minutes}`;
	    timeInput.value = timeInput.min;
	}
	</script>
	</html>