<html layout:decorate="~{layout}">
<div layout:fragment="content">
    <form th:action="@{/user/edit/{id}(id=${user.id})}" method="post" th:object="${userUpdateForm}">
        
        <div>
            <label>아이디:</label>
            <input type="text" th:value="${user.username}" disabled="disabled" />
        </div>
        <div>
            <label>이메일:</label>
            <input type="email" th:field="*{email}" required />
        </div>
        <div>
            <label>새 비밀번호 (선택):</label>
            <input type="password" th:field="*{password}" />
        </div>
        <button type="submit">수정하기</button>
    </form>
</div>
</html>